body {
  margin:0
  font-family: "Poppins", sans-serif;
}
body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Poppins", sans-serif;
}
.intro-section {
  display: flex;
  background-color: #4240a3;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
header ul li {
  margin-left: 25px;
  margin-right: 25px;
}
header ul li a {
  text-decoration: none;
}
.primary-button {
  padding: 6px 15px;
  margin: 10px;
  background-color: salmon;
  text-decoration: none;
  color: white;
}
.half-section {
  width: 50%;
  padding: 10px;
  margin: 5px;
}
.half-section img {
}
